[[inputs.snmp]]
  agents = ["udp://{{ url }}"]
  version = {{ config['inputs'][device_info['snmp_auth']]['version'] }}
  timeout = "{{ config['inputs'][device_info['snmp_auth']]['timeout'] }}"
  retries = {{ config['inputs'][device_info['snmp_auth']]['retries'] }}
  community = "{{ device_info['snmp_v2_community'] }}"
